/*###################################################################
  ############################## POPUP ##############################
  ###################################################################*/

#popupContainer
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#popup
{
	position: fixed;
	width: 100%;
	top: 150px;	
}

#frame
{	
	background-color: #ddf;	
	display: flex;
	flex-direction: column;
	padding: 1.25%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

@media all and (max-width: 768px)
{
	#frame
	{
		max-width: unset;
		font-size: 1.2em;
	}
}

/*####################################################################
  ############################# ALL SITE #############################
  ####################################################################*/
body
{
	background-image: url('../img/alaska.jpg');
	background-attachment:  fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: 'EB Garamond', serif;
}

header
{
	background-color: rgba(200, 200, 240, 0.8);
	padding: 5px 0;
	margin-bottom: 30px; 
}

section
{
	max-width: 1400px;
	margin: 0 auto;
}

article, #noChapter, #dashboard
{	
	height: 100%;
}

h1, #noChapter, .chapterNumber, .chapterTitle, #subtitle
{
	text-align: center;
}

input
{
	height: 30px;
	margin: 0 0 20px 0;
	padding: 0 10px;
}

footer
{
	justify-content: space-around;
	background-color: rgba(200, 200, 240, 0.8);
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	padding: 50px 0;
	margin-top: 30px;
	text-align: center;
}

a
{
	text-decoration: none;
}

.container
{
	width: 70%;
}

.mainBgColor
{
	background-color: rgba(255, 255, 255, 0.8);
}

.mainBorder
{
	border: 2px #ccf solid;
}

.center
{
	margin: 0 auto;
}

.displayFlex
{
	display: flex;
}

.uppercase, label
{
	text-transform: uppercase;
}

.menu
{
	justify-content: space-around;
	flex-wrap: wrap;
	list-style-type: none;
	font-weight: bold;
	margin: 40px 0;
	font-size: 1.15em;
}

.menu li
{
	margin: 10px;
}

.messages
{
	text-align: center;	
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 0;
	margin-bottom: 30px;
}

.redBg
{
	background-color: #f00;
}

.greenBg
{
	background-color: #0a0;
}

.redText
{
	color: #f00;
}

.whiteText
{
	color: #fff;
}

.buttons
{
	margin: 25px 0;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.button
{
	background-color: #fff;
	border: 2px #ccf solid;
	border-radius: 25px;
	padding: 10px;
	margin: 0 5px;
	color: #11f;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 0.9em;
	font-family: 'EB Garamond', serif;
}

.separator
{
	width: 90%;
	border-top: 1px black solid;
	margin: 30px auto;
}

#subtitle
{
	font-weight: bold;
	font-size: 1.2em;
	line-height: 0;
	color: #333;
}

#pageTitle
{
	padding: 20px 10px;
	margin-bottom: 30px;
	text-align: center;
}

#chapter, #dashboard, #commentSection > *, #containerForm > *, #profile
{
	padding: 10px;
}

@media all and (max-width: 768px)
{
	body
	{
		font-size: 1.2em;
	}

	section
	{
		max-width: unset;
	}

	.container
	{
		width: 100%;
	}
}

/*#####################################################################
  ############################# HOME PAGE #############################
  #####################################################################*/

aside
{
	width: 30%;
	height: 100%;	
}

aside > div
{
	margin: 0 0 15px 15px;
	padding: 5px 10px;
}

#profil > *
{	
	display: inline-block;
	margin: 0 auto 10px auto;
}

.excerpt
{
	margin-bottom: 15px;
}

.excerpt, #noChapter
{
	padding: 10px;
}

@media all and (max-width: 768px)
{
	#main
	{
		flex-direction: column-reverse;
	}

	aside
	{
		width: unset;
	}

	aside > div
	{
		margin: 0 0 15px 0;
	}
}

/*####################################################################
  ########################### CHAPTER PAGE ###########################
  ####################################################################*/

.firstLine, #nextAndPrevious
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nextAndPrevious
{
	margin: 15px auto;
}

#commentSection > *, #containerForm > *
{
	margin: 15px auto;
}

#nextChapter
{
	visibility: hidden;
}

/*#####################################################################
  ########################### CHAPTERS PAGE ###########################
  #####################################################################*/

.notPublished
{
	background-color: rgba(200, 200, 255, 0.3);
}

form
{
	display: flex;
	flex-direction: column;
}

.chapters
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.chapter
{
	border: 1px black solid;
	width: 30%;
	margin: 15px auto;
	padding: 10px;
}

@media all and (max-width: 768px)
{
	.chapters
	{
		display: block;
	}

	.chapter
	{
		width: unset;
	}
}


/*####################################################################
  ########################### WRITING PAGE ###########################
  ####################################################################*/

#content
{
	min-height: 400px;
}